.submission-container {
  width: 100%;
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #f3f7ff;
}

.submission-container h1 {
  font-size: 32px;
  color: #1a4ecc;
  margin-bottom: 15px;
}

.submission-container p {
  font-size: 18px;
  color: #444;
}
